.tieu-de{
    text-align:center;
    color:#689F38;
    margin:30px 0;
    font-size:32px;
}

.danh-sach-san-pham{
    width:90%;
    margin:auto;

    display:grid;
    grid-template-columns:repeat(4,1fr);

    gap:25px;
}

.khung-san-pham{
    background:white;

    border:2px solid #dcedc8;

    border-radius:15px;

    text-align:center;

    padding:15px;

    box-shadow:0 4px 10px rgba(0,0,0,0.08);
}

.khung-san-pham img{
    width:100%;
    height:250px;

    object-fit:cover;

    border-radius:10px;
}

.khung-san-pham h3{
    margin:15px 0 10px;
    color:#689F38;
}

.gia{
    color:#ff9800;
    font-weight:bold;
    font-size:20px;
    margin-bottom:15px;
}

.khung-san-pham a{
    display:inline-block;

    background:#8BC34A;

    color:white;

    text-decoration:none;

    padding:10px 20px;

    border-radius:8px;
}

.khung-chi-tiet{
    display:flex;
    justify-content:center;
    align-items:center;

    min-height:80vh;

    padding:30px;
}

.chi-tiet-layout{
    width:900px;
    max-width:100%;

    background:white;

    border:2px solid #dcedc8;

    border-radius:20px;

    box-shadow:0 5px 15px rgba(0,0,0,0.1);

    display:flex;

    gap:30px;

    padding:30px;
}

.cot-anh{
    flex:1;
}

.cot-anh img{
    width:100%;
    height:350px;

    object-fit:cover;

    border-radius:15px;
}

.cot-thong-tin{
    flex:1;

    display:flex;
    flex-direction:column;
    justify-content:center;
}

.cot-thong-tin h2{
    color:#689F38;
    margin-bottom:15px;
}

.cot-thong-tin h3{
    color:#ff9800;
    margin-bottom:20px;
    font-size:28px;
}

.cot-thong-tin p{
    line-height:1.8;
    margin-bottom:25px;
}

.nut-mua{
    width:180px;

    background:#8BC34A;
    color:white;

    border:none;

    padding:12px;

    border-radius:10px;

    cursor:pointer;

    font-size:16px;
}

.nut-mua:hover{
    background:#689F38;
}

.hop-san-pham{
    width:900px;
    background:white;

    border:3px solid #8BC34A;

    border-radius:20px;

    padding:30px;

    display:flex;

    gap:30px;

    box-shadow:0 5px 20px rgba(0,0,0,0.1);
}

.gioi-thieu{
    width:80%;
    margin:50px auto;
    text-align:center;
}

.gioi-thieu h1{
    color:#689F38;
    margin-bottom:20px;
}

.mo-ta-chung{
    font-size:18px;
    color:#555;
    margin-bottom:30px;
}

.the-gioi-thieu{
    background:#ffffff;

    border:5px solid #e34a08;

    border-radius:15px;

    padding:20px;

    margin-bottom:20px;

    box-shadow:0 3px 10px rgba(0,0,0,0.08);
}

.the-gioi-thieu h2{
    color:#689F38;
    margin-bottom:10px;
}

.the-gioi-thieu p{
    color:#444;
    line-height:1.7;
}

.the-gioi-thieu{
    background-color: white;
    border: 3px solid #8BC34A;
    border-radius: 15px;

    width: 80%;

    margin: 20px auto;

    padding: 20px;

    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
}

.anh-san-pham img{
    width:100%;
    height:500px;
    object-fit:cover;
    border-radius:10px;
}